@mixin header {
  height: $headerHeight;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

header {
  @include header();
  background-color: $light;
  color: $darkGrey;
}
.header--dark {
  @include header();
  background-color: $darkGrey;
  color: $light;
}

.header-container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding: 0 4em;
  width: 100%;
}

.header-buttons {
  display: flex;

  button {
    font-family: inherit;
    align-items: center;
    display: flex;
    font-size: 1.5em;
    padding: 0 1em;

    &:hover {
      cursor: pointer;
    }
  }

  .toggle-theme {
    transition: transform 0.5s;
    &:hover {
      transform: rotate(-15deg);
    }
  }
}
