@mixin header {
  height: $headerHeight;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

header {
  @include header();
  background-color: $light;
  color: $darkGrey;
}
.header--dark {
  @include header();
  background-color: $darkGrey;
  color: $light;
}

.header-container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding: 0 4em;
  width: 100%;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.header-buttons {
  display: flex;

  button {
    font-family: inherit;
    align-items: center;
    display: flex;
    font-size: 1.5em;
    padding: 0 1em;
    opacity: 0.8;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }

  .toggle-lang {
    font-size: 1em;
    transition: font-size 0.4s ease;
    width: 80px;

    &:hover {
      font-size: 1.1em;
    }
  }

  .toggle-theme {
    transition: transform 0.6s;
    &:hover {
      transform: rotate(-15deg);
    }
  }
}

@media only screen and (max-width: $mobileBreakpoint) {
  header,
  .header--dark {
    height: $mobileHeaderHeight;
  }

  .header-container {
    padding: 0 2em;

    h1 {
      font-size: 1.5em;
    }

    .header-buttons button {
      font-size: 1em;
    }
  }
}

@media screen and (max-width: 300px) {
  .header-container {
    padding: 0 0.5em;
  }
}
