@mixin scrollArea {
  box-sizing: border-box;
  height: calc(100vh - #{$headerHeight});
  margin: 1em 0;
  scroll-snap-align: start;
  padding-left: 40px;
}

.scroll-container {
  scroll-snap-type: y mandatory;
  margin-left: $navWidth; /* width on NAV*/
  margin-top: $headerHeight;
  -ms-overflow-style: none; /* IE and Edge */
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  transition: margin 0.5s;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-container,
.scroll-area {
  height: calc(100vh - #{$headerHeight});
}

.scroll-area {
  @include scrollArea();
  background-color: $mainLight;
  color: $darkGrey;
}

.scroll-area--dark {
  @include scrollArea();
  color: $light;
  background-color: $mainGrey;
}

.first {
  margin-top: 0;
  justify-content: start;
  align-items: start;

  .typed-text {
    display: flex;
    flex-direction: column;
    font-size: 70px;
    padding-left: 10%;
    padding-top: 20vh;
  }
}

.second {
  // background-color: aquamarine;
}

.third {
  // background-color: cadetblue;
}

.fourth {
  // background-color: steelblue;
  margin-bottom: 0;
}

.subtext {
  height: 1em;
  padding-left: 3em;
}

.typed-sm::first-letter {
  color: $popColor;
}

@media screen and (max-width: $mediumBreakpoint) {
  .typed-text {
    font-size: 52px !important;
  }
}

@media screen and (max-width: $mobileBreakpoint) {
  .first {
    .typed-text {
      padding-left: 0;
    }
  }

  .scroll-container {
    margin-left: 0 !important;
    margin-top: $mobileHeaderHeight;
    transition: 0.4s;
  }

  .scroll-container,
  .scroll-area,
  .scroll-area--dark {
    height: calc(100vh - #{$mobileHeaderHeight});
  }

  .scroll-area,
  .scroll-area--dark {
    padding-left: 85px;
  }

  .typed-text {
    font-size: 50px !important;
  }

  .subtext {
    padding-left: 1em;
  }
}

@media screen and (max-width: 499px) {
  .typed-text {
    font-size: 30px !important;
    padding-left: 0;

    .subtext {
      padding-left: 0.5em;
    }
  }
}
