@mixin scrollArea {
  box-sizing: border-box;
  height: calc(100vh - #{$headerHeight});
  margin: 1em 0;
  scroll-snap-align: start;
  padding-left: 40px;
}

.scroll-container {
  scroll-snap-type: y mandatory;
  margin-left: $navWidth; /* width on NAV*/
  margin-top: $headerHeight;
  -ms-overflow-style: none; /* IE and Edge */
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  transition: margin 0.5s;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-container,
.scroll-area {
  height: calc(100vh - #{$headerHeight});
}

.scroll-area {
  @include scrollArea();
  background-color: $mainLight;
  color: $darkGrey;
}

.scroll-area--dark {
  @include scrollArea();
  color: $light;
  background-color: $mainGrey;
}

.home {
  margin-top: 0;
  justify-content: start;
  align-items: start;

  .typed-text {
    display: flex;
    flex-direction: column;
    font-size: 70px;
    padding-left: 10%;
    padding-top: 20vh;

    .typed-sm::first-letter {
      color: $popColor;
    }
  }

  .subtext {
    height: 1em;
    padding-left: 3em;
  }
}

.about {
  // background-color: aquamarine;
}

.projects {
  // background-color: cadetblue;
}

.contact {
  font-size: 30px;
  margin-bottom: 0;
  padding-left: 10%;
  padding-top: 15vh;
  position: relative;

  h1 {
    font-size: 1.7em;
  }

  .contact-pitch {
    a {
      color: $popColor;
      opacity: 0.8;
      transition: opacity 0.4s;
      padding-left: 20px;

      &:hover {
        opacity: 1;
      }

      svg {
        transform: translateY(22%);
      }
    }
  }

  .what-who {
    padding-left: 80px;

    .contact-pitch:nth-child(2) {
      padding-top: 1em;
    }
  }

  .direct-contact {
    position: absolute;
    bottom: 5rem;
  }
}

@media screen and (max-width: $mediumBreakpoint) {
  .typed-text {
    font-size: 52px !important;
  }
}

@media screen and (max-width: $mobileBreakpoint) {
  .home {
    .typed-text {
      padding-left: 0;
    }
  }

  .contact {
    padding-top: 5vh;

    h1 {
      font-size: 35px;
      padding-right: 1em;
    }

    .contact-pitch {
      font-size: 20px;
    }

    .what-who {
      padding-left: 20px;
      padding-right: 2em;
    }
  }

  .scroll-container {
    margin-left: 0 !important;
    margin-top: $mobileHeaderHeight;
    transition: 0.4s;
  }

  .scroll-container,
  .scroll-area,
  .scroll-area--dark {
    height: calc(100vh - #{$mobileHeaderHeight});
  }

  .scroll-area,
  .scroll-area--dark {
    padding-left: 85px;
  }

  .typed-text {
    font-size: 50px !important;
  }

  .subtext {
    padding-left: 1em;
  }
}

@media screen and (max-width: 499px) {
  .typed-text {
    font-size: 30px !important;
    padding-left: 0;

    .subtext {
      padding-left: 0.5em;
    }
  }

  .contact {
    font-size: 30px !important;

    h1 {
      font-size: 30px;
    }

    .contact-pitch {
      font-size: 18px !important;
    }

    .what-who {
      margin-bottom: 2rem;
      padding: 0;
    }
  }
}

@media screen and (max-width: 380px) {
  .contact {
    font-size: 25px !important;

    h1 {
      font-size: 25px;
    }

    .contact-pitch {
      font-size: 14px !important;
      svg {
        font-size: 1.2em;
      }
    }

    .what-who {
      margin-bottom: 2rem;
      padding: 0;
    }

    .direct-contact {
      bottom: 6rem;
    }
  }
}
