@mixin scrollArea {
  box-sizing: border-box;
  // position: relative;
  // height: calc(100vh - #{$headerHeight});
  height: 100%;
  margin: 1em 0;
  scroll-snap-align: start;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: $headerHeight;
  width: calc(100vw - #{$navWidth});
}

.scroll-container {
  height: 100%;
  margin-left: $navWidth; /* width on NAV*/
  -ms-overflow-style: none; /* IE and Edge */
  overflow-y: scroll;
  position: absolute;
  scrollbar-width: none; /* Firefox */
  transition: margin 0.5s;
  scroll-snap-type: y mandatory;
  width: calc(100vw - #{$navWidth});
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-area {
  @include scrollArea();
  background-color: $mainLight;
  color: $darkGrey;
}

.scroll-area--dark {
  @include scrollArea();
  color: $light;
  background-color: $mainGrey;
}

.home {
  margin-top: 0;
  justify-content: start;
  align-items: start;

  .typed-text {
    display: flex;
    flex-direction: column;
    font-size: 70px;
    padding-left: 8%;
    padding-top: 20vh;

    .typed-sm::first-letter {
      color: $popColor;
    }
  }

  .subtext {
    height: 1em;
    padding-left: 3em;
  }
}

.about {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .about-p {
    max-width: 1000px;
  }
}

.projects {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  padding-left: 10%;
  padding-top: calc(5vh + #{$headerHeight});
}

.contact {
  font-size: 26px;
  margin-bottom: 0;
  padding-left: 10%;
  padding-top: calc(15vh + #{$headerHeight});
  position: relative;

  h1 {
    font-size: 1.5em;
  }

  .contact-pitch {
    a {
      color: $popColor;
      opacity: 0.8;
      transition: opacity 0.4s;
      padding-left: 20px;

      &:hover {
        opacity: 1;
      }

      svg {
        transform: translateY(22%);
      }
    }
  }

  .what-who {
    padding-left: 80px;

    .contact-pitch:nth-child(2) {
      padding-top: 1em;
    }
  }

  .direct-contact {
    padding-top: 2rem;

    .contact-pitch {
      padding-top: 3em;
    }
  }
}

.tech-icon-container {
  padding-top: 1rem;

  .group {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0.5em;
  }

  .tech-icon {
    font-size: 1.5rem;
    padding: 0 0.5rem;
    position: relative;
    transition: color 0.6s;

    &:hover {
      color: $popColor;

      .tooltip {
        visibility: visible;
        opacity: 1;
      }
    }

    .tooltip {
      font-size: 1rem;

      visibility: hidden;
      width: 120px;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      bottom: 100%;
      left: 50%;
      margin-left: -60px;
      opacity: 0;
      transition: opacity 0.6s;
    }
  }
}

@media screen and (max-width: $mediumBreakpoint) {
  .typed-text {
    font-size: 52px !important;
  }

  .contact {
    font-size: 25px;
    padding-top: calc(10vh + #{$headerHeight});
  }
}

@media screen and (max-width: $mobileBreakpoint) {
  .home {
    .typed-text {
      padding-left: 0;
      .subtext {
        padding-left: 1em;
      }
    }
  }

  .projects {
    padding-left: 55px !important;
    padding-top: calc(5vh + #{$mobileHeaderHeight}) !important;
  }

  .contact {
    padding-top: calc(5vh + #{$mobileHeaderHeight}) !important;

    h1 {
      font-size: 35px;
      padding-right: 1em;
    }

    .contact-pitch {
      font-size: 20px;
    }

    .what-who {
      padding-left: 20px;
      padding-right: 2em;
    }
  }

  .scroll-container {
    margin-left: 0 !important;

    transition: 0.4s;
  }

  .scroll-container,
  .scroll-area,
  .scroll-area--dark {
    height: 100%;
    width: 100vw !important;
  }

  .scroll-area,
  .scroll-area--dark {
    padding-left: 85px;
    padding-top: $mobileHeaderHeight;
  }

  .typed-text {
    font-size: 50px !important;
  }

  .subtext {
    padding-left: 1em;
  }

  .tech-icon-container {
    .tech-icon {
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 499px) {
  .scroll-container,
  .scroll-area,
  .scroll-area--dark {
    height: calc(100vh - #{$mobileHeaderHeight});
    // height: 100%;
  }

  .typed-text {
    font-size: 30px !important;
    padding-left: 0;

    .subtext {
      padding-left: 0.5em;
      font-size: 0.8em;
    }
  }

  .contact {
    font-size: 30px !important;

    h1 {
      font-size: 30px;
    }

    .contact-pitch {
      font-size: 18px !important;
    }

    .what-who {
      margin-bottom: 2rem;
      padding: 0;
    }
  }

  .tech-icon-container {
    .tech-icon {
      font-size: 0.8rem;
    }
  }
}

@media screen and (max-width: 380px) {
  .contact {
    font-size: 25px !important;

    h1 {
      font-size: 25px;
    }

    .contact-pitch {
      font-size: 14px !important;
      svg {
        font-size: 1.2em;
      }
    }

    .what-who {
      margin-bottom: 2rem;
      padding: 0;
    }

    .direct-contact {
      bottom: 6rem;
      padding-top: 1rem;

      .contact-pitch {
        padding-top: 1rem;
      }
    }
  }
}

// HEIGHT QUERIES
@media screen and (max-height: 900px) {
  .contact {
    font-size: 25px !important;
    padding-top: calc(10vh + #{$mobileHeaderHeight}) !important;
  }
}
