@mixin slideShow {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.slideshow-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10%;

  .left {
    transform: translateX(8px);
  }

  .right {
    transform: translateX(-8px);
  }

  button {
    font-size: 1.5em;
    transition: transform 0.4s;
    &:hover {
      cursor: pointer;
      transform: translateX(0);
    }
  }

  .slideshow {
    @include slideShow();
  }

  .frame {
    height: 100%;
    transition: opacity 0.6s;

    &:hover {
      opacity: 0.7;
    }

    img {
      animation: fadeIn 0.6s forwards;
      border: 1px solid $darkGrey;
      height: 40vw;
      max-height: 600px;
      opacity: 0;
      min-width: 300px;
    }

    .img--dark {
      border: 1px solid $light;
    }
  }
}

@media screen and(max-width: $mobileBreakpoint) {
  .slideshow-container {
    padding-right: 0;

    .frame {
      img {
        min-width: 100px;
      }
    }
  }
}

@media screen and (max-height: 900px) {
  .slideshow {
    .frame {
      img {
        max-height: 400px;
      }
    }
  }
}

//HEIGHT QUERIES
@media screen and (max-height: 750px) {
  .slideshow {
    .frame {
      img {
        max-height: 300px;
      }
    }
  }
}

@media screen and (max-height: 650px) {
  .slideshow {
    .frame {
      img {
        max-height: 250px;
      }
    }
  }
}
