$darkGrey: #212529;
$mainGrey: #292e33;

$light: #fef9ef;
$mainLight: #eee8d5;

$popColor: tomato;

$navWidth: 200px;
$headerHeight: 125px;

$mobileHeaderHeight: 80px;

$mobileBreakpoint: 800px;
$mediumBreakpoint: 1000px;
