$darkGrey: #212529;
$mainGrey: #292e33;

// $light: #fef9ef;
// $mainLight: #f5f0e6;

$navWidth: 200px;
$headerHeight: 125px;

$mobileHeaderHeight: 80px;

$mobileBreakpoint: 800px;
$mediumBreakpoint: 1000px;

$popColor: tomato;

// solarized ////////////////

// $darkGrey: #002b36;
// $mainGrey: #073642;

$light: #fef9ef;
$mainLight: #eee8d5;
