footer {
  position: absolute;
  bottom: 1rem;
  right: 3rem;
  z-index: 3;
}

footer a {
  color: inherit;
  font-size: 1.5rem;
  margin: 0 1rem;
  opacity: 0.8;
  text-decoration: none;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

footer a:hover {
  opacity: 1;
}

footer .email-icon {
  font-size: 1.6rem;
}

@media screen and (max-width: 800px) {
  footer {
    right: 1rem;
  }
  footer a {
    font-size: 1.3rem;
    margin: 0 0.8rem;
  }
  footer .email-icon {
    font-size: 1.4rem;
  }
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90%;
  width: 100%;
  max-width: 1200px;
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects-container .project {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-container .project:hover h1::first-letter {
  color: tomato;
}

.projects-container .project img {
  max-width: 80%;
  width: 25vh;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.projects-container .project img:hover {
  cursor: pointer;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.projects-container .project .tech-icon-container {
  padding-top: 0;
}

@media screen and (max-width: calc(25px + 1000px)) {
  .projects-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .projects-container h1 {
    font-size: 22px;
  }
  .projects-container .project,
  .projects-container .project--dark {
    width: 48%;
  }
  .projects-container .project img,
  .projects-container .project--dark img {
    max-width: 50%;
  }
}

@media screen and (max-width: 499px) {
  .projects-container h1 {
    font-size: 16px;
  }
}

header {
  height: 125px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 10;
  background-color: #fef9ef;
  color: #212529;
}

.header--dark {
  height: 125px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 10;
  background-color: #212529;
  color: #fef9ef;
}

.header-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 4em;
  width: 100%;
}

.header-container a {
  text-decoration: none;
  color: inherit;
}

.header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-buttons button {
  font-family: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5em;
  padding: 0 1em;
  opacity: 0.8;
}

.header-buttons button:hover {
  cursor: pointer;
  opacity: 1;
}

.header-buttons .toggle-lang {
  font-size: 1em;
  -webkit-transition: font-size 0.4s ease;
  transition: font-size 0.4s ease;
  width: 80px;
}

.header-buttons .toggle-lang:hover {
  font-size: 1.1em;
}

.header-buttons .toggle-theme {
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}

.header-buttons .toggle-theme:hover {
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

@media only screen and (max-width: 800px) {
  header,
  .header--dark {
    height: 80px;
  }
  .header-container {
    padding: 0 2em;
  }
  .header-container h1 {
    font-size: 1.5em;
  }
  .header-container .header-buttons button {
    font-size: 1em;
  }
  .header-container .header-buttons .toggle-lang {
    width: auto;
  }
}

@media screen and (max-width: 300px) {
  .header-container {
    padding: 0 0.5em;
  }
}

@-webkit-keyframes swoopLeft {
  from {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
    opacity: 0.6;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes swoopLeft {
  from {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
    opacity: 0.6;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes swoopRight {
  from {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
    opacity: 0.6;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes swoopRight {
  from {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
    opacity: 0.6;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.6;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.6;
  }
}

.modal-bg {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 20;
}

.lightbox {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 78%;
  padding: 2rem;
  position: relative;
  width: 70%;
  max-width: 1000px;
  z-index: 21;
  background-color: #fef9ef;
}

.lightbox h1::first-letter {
  color: tomato;
}

.lightbox .img-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 449px;
  position: relative;
  width: 450px;
}

.lightbox .img-container img {
  -webkit-animation: fadeIn 0.8s forwards;
          animation: fadeIn 0.8s forwards;
  opacity: 0;
  margin: 0 auto;
  max-width: 450px;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  width: 100%;
}

.lightbox button {
  font-size: 1.5em;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.lightbox button:hover {
  cursor: pointer;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.lightbox .left {
  left: 1vw;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
}

.lightbox .right {
  top: 50%;
  position: absolute;
  right: 1vw;
  -webkit-transform: translateX(-8px);
          transform: translateX(-8px);
}

.lightbox .frame-description {
  margin: 0 2rem;
  padding-top: 1em;
}

.lightbox .icon-links {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 2;
}

.lightbox .icon-links a {
  font-size: 1.5rem;
  color: #212529;
  padding: 0 0.75rem;
  opacity: 0.8;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lightbox .icon-links a:hover {
  opacity: 1;
}

.lightbox .icon-links .light-anchor {
  color: #fef9ef;
}

.lightbox .img-container {
  border: 3px solid #212529;
}

.lightbox--dark {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 78%;
  padding: 2rem;
  position: relative;
  width: 70%;
  max-width: 1000px;
  z-index: 21;
  background-color: #212529;
}

.lightbox--dark h1::first-letter {
  color: tomato;
}

.lightbox--dark .img-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 449px;
  position: relative;
  width: 450px;
}

.lightbox--dark .img-container img {
  -webkit-animation: fadeIn 0.8s forwards;
          animation: fadeIn 0.8s forwards;
  opacity: 0;
  margin: 0 auto;
  max-width: 450px;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  width: 100%;
}

.lightbox--dark button {
  font-size: 1.5em;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.lightbox--dark button:hover {
  cursor: pointer;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.lightbox--dark .left {
  left: 1vw;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
}

.lightbox--dark .right {
  top: 50%;
  position: absolute;
  right: 1vw;
  -webkit-transform: translateX(-8px);
          transform: translateX(-8px);
}

.lightbox--dark .frame-description {
  margin: 0 2rem;
  padding-top: 1em;
}

.lightbox--dark .icon-links {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 2;
}

.lightbox--dark .icon-links a {
  font-size: 1.5rem;
  color: #212529;
  padding: 0 0.75rem;
  opacity: 0.8;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lightbox--dark .icon-links a:hover {
  opacity: 1;
}

.lightbox--dark .icon-links .light-anchor {
  color: #fef9ef;
}

.lightbox--dark .img-container {
  border: 3px solid #fef9ef;
}

.-left > *:not(button) {
  -webkit-animation: swoopLeft 0.8s forwards;
          animation: swoopLeft 0.8s forwards;
}

.-right > *:not(button) {
  -webkit-animation: swoopRight 0.8s forwards;
          animation: swoopRight 0.8s forwards;
}

@media screen and (max-width: 1000px) {
  .lightbox h1,
  .lightbox--dark h1 {
    margin-top: 0;
  }
}

@media screen and (max-width: 800px) {
  .lightbox,
  .lightbox--dark {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 75%;
  }
  .lightbox .img-container,
  .lightbox--dark .img-container {
    height: 300px;
    width: 300px;
  }
  .lightbox img,
  .lightbox--dark img {
    height: 300px;
    width: 300px;
  }
  .frame-description {
    font-size: 14px;
  }
}

@media screen and (max-width: 499px) {
  .lightbox,
  .lightbox--dark {
    height: 70%;
  }
  .lightbox .img-container,
  .lightbox--dark .img-container {
    height: 180px !important;
    width: 180px !important;
  }
  .lightbox .img-container img,
  .lightbox--dark .img-container img {
    height: 180px !important;
    width: 180px !important;
  }
  .lightbox .img-container .icon-links,
  .lightbox--dark .img-container .icon-links {
    bottom: 0.5rem;
    right: 0.5rem;
  }
}

@media screen and (max-width: 400px) {
  .lightbox,
  .lightbox--dark {
    height: 75%;
  }
  .lightbox h1,
  .lightbox--dark h1 {
    font-size: 1.5rem;
  }
  .lightbox .img-container,
  .lightbox--dark .img-container {
    height: 120px !important;
    width: 120px !important;
  }
  .lightbox .img-container img,
  .lightbox--dark .img-container img {
    height: 120px !important;
    width: 120px !important;
  }
}

@media screen and (max-height: 890px) {
  .img-container {
    height: 300px !important;
    width: 300px !important;
  }
  .img-container img {
    height: 300px !important;
    width: 300px !important;
  }
  .img-container .icon-links {
    bottom: 0.5rem;
    right: 0.5rem;
  }
}

@media screen and (max-height: 700px) {
  .img-container {
    height: 180px !important;
    width: 180px !important;
  }
  .img-container img {
    height: 180px !important;
    width: 180px !important;
  }
  .img-container .icon-links {
    bottom: 0.5rem;
    right: 0.5rem;
  }
}

@-webkit-keyframes slideIndicators {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    left: 0;
  }
  to {
    -webkit-transform: translateX(40%);
            transform: translateX(40%);
    left: 100%;
  }
}

@keyframes slideIndicators {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    left: 0;
  }
  to {
    -webkit-transform: translateX(40%);
            transform: translateX(40%);
    left: 100%;
  }
}

.show-nav {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  left: 0;
  padding-top: 2em;
  position: absolute;
  padding-top: calc(40px + 125px);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  width: 200px;
  z-index: 5;
  background-color: #fef9ef;
  color: #212529;
}

nav a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  height: 60px;
  opacity: 0.7;
  font-size: 1.1rem;
  text-decoration: none;
  -webkit-transition: opacity 0.4s ease, font-size 0.4s ease;
  transition: opacity 0.4s ease, font-size 0.4s ease;
}

nav a:hover {
  opacity: 1;
}

.nav--dark {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  left: 0;
  padding-top: 2em;
  position: absolute;
  padding-top: calc(40px + 125px);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  width: 200px;
  z-index: 5;
  color: #fef9ef;
  background-color: #212529;
}

.active {
  color: #212529;
  font-size: 1.6rem;
  opacity: 1;
  -webkit-transition: opacity 0.4s ease, font-size 0.4s ease;
  transition: opacity 0.4s ease, font-size 0.4s ease;
}

.active--dark {
  color: #fef9ef;
  font-size: 1.6rem;
  opacity: 1;
  -webkit-transition: opacity 0.4s ease, font-size 0.4s ease;
  transition: opacity 0.4s ease, font-size 0.4s ease;
}

.section-indicator {
  -webkit-animation: 1s ease 0.5s slideIndicators forwards;
          animation: 1s ease 0.5s slideIndicators forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  top: -2em;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.section-indicator .indicator {
  color: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
  font-size: 40px;
  height: 20px;
  margin-left: 2vw;
  margin-top: 20px;
  mix-blend-mode: difference;
  opacity: 0.4;
  text-decoration: none;
  -webkit-transition: opacity 0.4s ease, font-size 0.4s ease;
  transition: opacity 0.4s ease, font-size 0.4s ease;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

.section-indicator .indicator:hover {
  opacity: 1;
  cursor: pointer;
}

.section-indicator .active {
  opacity: 1;
}

.mobile-nav-menu-trigger {
  -webkit-transform: translate(100%, -2em);
          transform: translate(100%, -2em);
  position: absolute;
  right: 0;
  z-index: 3;
}

.mobile-nav-menu-trigger svg {
  font-size: 2em;
  margin-left: 1em;
  margin-top: 1em;
  mix-blend-mode: difference;
  opacity: 0.8;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.mobile-nav-menu-trigger svg:hover {
  cursor: pointer;
  opacity: 1;
}

@media only screen and (max-width: 800px) {
  nav,
  .nav--dark {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
    padding-top: calc(40px + 80px);
  }
}

.blinking-cursor {
  -webkit-animation: 1s cubic-bezier(1, -0.15, 1, 1) infinite blinky;
          animation: 1s cubic-bezier(1, -0.15, 1, 1) infinite blinky;
}

@-webkit-keyframes blinky {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

@keyframes blinky {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

.scroll-container {
  height: 100%;
  margin-left: 200px;
  /* width on NAV*/
  -ms-overflow-style: none;
  /* IE and Edge */
  overflow-y: scroll;
  position: absolute;
  scrollbar-width: none;
  /* Firefox */
  -webkit-transition: margin 0.5s;
  transition: margin 0.5s;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  width: calc(100vw - 200px);
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-area {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  margin: 1em 0;
  scroll-snap-align: start;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 125px;
  width: calc(100vw - 200px);
  background-color: #eee8d5;
  color: #212529;
}

.scroll-area--dark {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  margin: 1em 0;
  scroll-snap-align: start;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 125px;
  width: calc(100vw - 200px);
  color: #fef9ef;
  background-color: #292e33;
}

.home {
  margin-top: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.home .typed-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 70px;
  padding-left: 8%;
  padding-top: 20vh;
}

.home .typed-text .typed-sm::first-letter {
  color: tomato;
}

.home .subtext {
  height: 1em;
  padding-left: 3em;
}

.about {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about-body {
  max-width: 1000px;
  font-size: 1.2rem;
}

.projects {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: hidden;
  padding-left: 10%;
  padding-top: calc(5vh + 125px);
}

.contact {
  font-size: 26px;
  margin-bottom: 0;
  padding-left: 10%;
  padding-top: calc(15vh + 125px);
  position: relative;
}

.contact h1 {
  font-size: 1.5em;
}

.contact .contact-pitch a {
  color: tomato;
  opacity: 0.8;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  padding-left: 20px;
}

.contact .contact-pitch a:hover {
  opacity: 1;
}

.contact .contact-pitch a svg {
  -webkit-transform: translateY(22%);
          transform: translateY(22%);
}

.contact .what-who {
  padding-left: 80px;
}

.contact .what-who .contact-pitch:nth-child(2) {
  padding-top: 1em;
}

.contact .direct-contact {
  padding-top: 2rem;
}

.contact .direct-contact .contact-pitch {
  padding-top: 3em;
}

.tech-icon-container {
  padding-top: 1rem;
}

.tech-icon-container .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 0.5em;
}

.tech-icon-container .tech-icon {
  font-size: 1.5rem;
  padding: 0 0.5rem;
  position: relative;
  -webkit-transition: color 0.6s;
  transition: color 0.6s;
}

.tech-icon-container .tech-icon:hover {
  color: tomato;
}

.tech-icon-container .tech-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.tech-icon-container .tech-icon .tooltip {
  font-size: 1rem;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

@media screen and (max-width: 1000px) {
  .typed-text {
    font-size: 52px !important;
  }
  .contact {
    font-size: 25px;
    padding-top: calc(10vh + 125px);
  }
}

@media screen and (max-width: 800px) {
  .home .typed-text {
    padding-left: 0;
  }
  .home .typed-text .subtext {
    padding-left: 1em;
  }
  .about .about-body {
    font-size: 1em;
  }
  .projects {
    padding-left: 55px !important;
    padding-top: calc(5vh + 80px) !important;
  }
  .contact {
    padding-top: calc(5vh + 80px) !important;
  }
  .contact h1 {
    font-size: 35px;
    padding-right: 1em;
  }
  .contact .contact-pitch {
    font-size: 20px;
  }
  .contact .what-who {
    padding-left: 20px;
    padding-right: 2em;
  }
  .scroll-container {
    margin-left: 0 !important;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .scroll-container,
  .scroll-area,
  .scroll-area--dark {
    height: 100%;
    width: 100vw !important;
  }
  .scroll-area,
  .scroll-area--dark {
    padding-left: 85px;
    padding-top: 80px;
  }
  .typed-text {
    font-size: 50px !important;
  }
  .subtext {
    padding-left: 1em;
  }
  .tech-icon-container .tech-icon {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 499px) {
  .scroll-container,
  .scroll-area,
  .scroll-area--dark {
    height: calc(100vh - 80px);
  }
  .typed-text {
    font-size: 30px !important;
    padding-left: 0;
  }
  .typed-text .subtext {
    padding-left: 0.5em;
    font-size: 0.8em;
  }
  .contact {
    font-size: 30px !important;
  }
  .contact h1 {
    font-size: 30px;
  }
  .contact .contact-pitch {
    font-size: 18px !important;
  }
  .contact .what-who {
    margin-bottom: 2rem;
    padding: 0;
  }
  .tech-icon-container .tech-icon {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 380px) {
  .contact {
    font-size: 25px !important;
  }
  .contact h1 {
    font-size: 25px;
  }
  .contact .contact-pitch {
    font-size: 14px !important;
  }
  .contact .contact-pitch svg {
    font-size: 1.2em;
  }
  .contact .what-who {
    margin-bottom: 2rem;
    padding: 0;
  }
  .contact .direct-contact {
    bottom: 6rem;
    padding-top: 1rem;
  }
  .contact .direct-contact .contact-pitch {
    padding-top: 1rem;
  }
}

@media screen and (max-height: 900px) {
  .contact {
    font-size: 25px !important;
    padding-top: calc(10vh + 80px) !important;
  }
}

body {
  background-color: #fef9ef;
  font-family: "PT Mono", monospace;
  height: 100%;
  margin: 0;
}

.root {
  overflow-y: hidden;
}

.body--dark {
  background-color: #212529;
}

.App {
  background-color: #fef9ef;
  color: #212529;
}

.App--dark {
  background-color: #212529;
  color: #fef9ef;
}

button {
  outline: none;
  border: none;
  background-color: inherit;
  color: inherit;
}

.pop {
  color: tomato;
}

.first-pop {
  display: inline-block;
  font-weight: bold;
}

.first-pop::first-letter {
  color: tomato;
}

.cover {
  bottom: 0;
  height: 80px;
  position: absolute;
  width: 100%;
  z-index: -1;
  background-color: #eee8d5;
}

.cover--dark {
  bottom: 0;
  height: 80px;
  position: absolute;
  width: 100%;
  z-index: -1;
  background-color: #292e33;
}

@media screen and (orientation: landscape) and (max-width: 499px) {
  .App,
  body {
    background-color: #eee8d5;
  }
  .App--dark,
  .body--dark {
    background-color: #292e33;
  }
  .projects {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  nav,
  .nav--ark {
    height: 100vh;
  }
  .scroll-container {
    -ms-scroll-snap-type: none;
        scroll-snap-type: none;
  }
  .section-indicator {
    display: none !important;
  }
}

@media screen and (max-height: 600px) {
  .App,
  body {
    background-color: #eee8d5;
  }
  .App--dark,
  .body--dark {
    background-color: #292e33;
  }
  .projects {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  nav,
  .nav--ark {
    height: 100vh;
  }
  .scroll-container {
    -ms-scroll-snap-type: none;
        scroll-snap-type: none;
  }
  .section-indicator {
    display: none !important;
  }
}
/*# sourceMappingURL=App.css.map */