@import "./variables";
@import "./scrollContainer";
@import "./header";
@import "./nav";
@import "./typedText";
@import "./footer";
// --------------------

// --
body {
  background-color: $light;
  font-family: "PT Mono", monospace;
  // height: 100vh;
  margin: 0;
  // overflow-y: hidden;
}

.root {
  height: 100vh;
  overflow-y: hidden;
}
.body--dark {
  background-color: $darkGrey;
}

.App {
  background-color: $light;
  color: $darkGrey;
}
.App--dark {
  background-color: $darkGrey;
  color: $light;
}

button {
  outline: none;
  border: none;
  background-color: inherit;
  color: inherit;
}

.pop {
  color: $popColor;
}
