@import "./variables";
@import "./scrollContainer";
@import "./header";
@import "./nav";
@import "./typedText";
// --------------------

// --
body {
  font-family: "PT Mono", monospace;
  margin: 0;
}

.App {
  background-color: $light;
  color: $darkGrey;
}
.App--dark {
  background-color: $darkGrey;
  color: $light;
}

.scroll-container {
  margin-top: $headerHeight;
  margin-left: $navWidth;
}

button {
  outline: none;
  border: none;
  background-color: inherit;
  color: inherit;
}

.tomato {
  color: tomato;
}
