.scroll-container {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  margin-left: 200px;
  /* width on NAV*/
  margin-top: 125px;
  /* Heigth on Header*/
  -ms-overflow-style: none;
  /* IE and Edge */
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -webkit-transition: margin 0.5s;
  transition: margin 0.5s;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-container,
.scroll-area {
  height: calc(100vh - 125px);
  min-height: 500px;
}

.scroll-area {
  background-color: blanchedalmond;
  color: black;
  margin: 1em 0;
  scroll-snap-align: start;
}

.first {
  margin-top: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.first .typed-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 70px;
  padding-left: 10%;
  padding-top: 10%;
}

.fourth {
  margin-bottom: 0;
}

.subtext {
  height: 1em;
  padding-left: 3em;
}

.typed-sm::first-letter {
  color: tomato;
}

@media screen and (max-width: 800px) {
  .scroll-container {
    margin-left: 0 !important;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

header {
  height: 125px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #fef9ef;
  color: #212529;
}

.header--dark {
  height: 125px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #212529;
  color: #fef9ef;
}

.header-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 4em;
  width: 100%;
}

.header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-buttons button {
  font-family: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5em;
  padding: 0 1em;
}

.header-buttons button:hover {
  cursor: pointer;
}

.header-buttons .toggle-lang {
  font-size: 1em;
  -webkit-transition: font-size 0.4s ease;
  transition: font-size 0.4s ease;
}

.header-buttons .toggle-lang:hover {
  font-size: 1.1em;
}

.header-buttons .toggle-theme {
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}

.header-buttons .toggle-theme:hover {
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

@media only screen and (max-width: 800px) {
  nav {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

@-webkit-keyframes slideIndicators {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    left: 0;
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    right: 0;
  }
}

@keyframes slideIndicators {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    left: 0;
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    right: 0;
  }
}

nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100% - 125px);
  left: 0;
  min-height: 500px;
  position: absolute;
  top: 125px;
  width: 200px;
  background-color: #fef9ef;
  color: #212529;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

nav a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  height: 60px;
  opacity: 0.7;
  text-decoration: none;
  -webkit-transition: opacity 0.4s ease, font-size 0.4s ease;
  transition: opacity 0.4s ease, font-size 0.4s ease;
}

nav a:hover {
  opacity: 1;
}

.show-nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav--dark {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100% - 125px);
  left: 0;
  min-height: 500px;
  position: absolute;
  top: 125px;
  width: 200px;
  color: #fef9ef;
  background-color: #212529;
}

.active {
  color: #212529;
  font-size: 1.5em;
  opacity: 1;
  -webkit-transition: opacity 0.4s ease, font-size 0.4s ease;
  transition: opacity 0.4s ease, font-size 0.4s ease;
}

.active--dark {
  color: #fef9ef;
  font-size: 1.5em;
  opacity: 1;
  -webkit-transition: opacity 0.4s ease, font-size 0.4s ease;
  transition: opacity 0.4s ease, font-size 0.4s ease;
}

.section-indicator {
  -webkit-animation: 1s ease 0.5s slideIndicators forwards;
          animation: 1s ease 0.5s slideIndicators forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.section-indicator .indicator {
  color: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
  font-size: 40px;
  height: 20px;
  margin-left: 2vw;
  margin-top: 20px;
  mix-blend-mode: difference;
  opacity: 0.4;
  text-decoration: none;
  -webkit-transition: opacity 0.4s ease, font-size 0.4s ease;
  transition: opacity 0.4s ease, font-size 0.4s ease;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

.section-indicator .indicator:hover {
  opacity: 1;
  cursor: pointer;
}

.section-indicator .active {
  opacity: 1;
}

.mobile-nav-menu-trigger {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  width: 100%;
  z-index: 3;
}

.mobile-nav-menu-trigger svg {
  font-size: 2em;
  margin: 1em;
  mix-blend-mode: difference;
  opacity: 0.8;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.mobile-nav-menu-trigger svg:hover {
  cursor: pointer;
  opacity: 1;
}

@media only screen and (max-width: 800px) {
  nav {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

.blinking-cursor {
  -webkit-animation: 1s cubic-bezier(1, -0.15, 1, 1) infinite blinky;
          animation: 1s cubic-bezier(1, -0.15, 1, 1) infinite blinky;
}

@-webkit-keyframes blinky {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

@keyframes blinky {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

body {
  font-family: "PT Mono", monospace;
  margin: 0;
}

.App {
  background-color: #fef9ef;
  color: #212529;
}

.App--dark {
  background-color: #212529;
  color: #fef9ef;
}

.scroll-container {
  margin-top: 125px;
  margin-left: 200px;
}

button {
  outline: none;
  border: none;
  background-color: inherit;
  color: inherit;
}

.tomato {
  color: tomato;
}
/*# sourceMappingURL=App.css.map */