.scroll-container {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  margin-left: 200px;
  /* width on NAV*/
  margin-top: 100px;
  /* Heigth on Header*/
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-container,
.scroll-area {
  height: calc(100vh - 100px);
  min-height: 500px;
}

.scroll-area {
  margin: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  scroll-snap-align: start;
  color: black;
  background-color: blanchedalmond;
}

.scroll-area p {
  font-weight: bold;
  font-size: 40px;
}

.first {
  margin-top: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.first .typed-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 70px;
  padding-left: 10%;
  padding-top: 10%;
}

.fourth {
  margin-bottom: 0;
}

.subtext {
  height: 1em;
  padding-left: 3em;
}

.typed-sm::first-letter {
  color: tomato;
}

header {
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #fef9ef;
  color: #212529;
}

.header--dark {
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #212529;
  color: #fef9ef;
}

.header-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 4em;
  width: 100%;
}

.header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-buttons button {
  font-family: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5em;
  padding: 0 1em;
}

.header-buttons button:hover {
  cursor: pointer;
}

.header-buttons .toggle-lang {
  font-size: 1em;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header-buttons .toggle-lang:hover {
  font-size: 1.1em;
}

.header-buttons .toggle-theme {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.header-buttons .toggle-theme:hover {
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100% - 100px);
  left: 0;
  min-height: 500px;
  position: absolute;
  top: 100px;
  width: 200px;
  color: #212529;
  background-color: #fef9ef;
}

nav a {
  color: inherit;
  opacity: 0.7;
  padding: 1em 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

nav a:hover {
  opacity: 1;
}

.nav--dark {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100% - 100px);
  left: 0;
  min-height: 500px;
  position: absolute;
  top: 100px;
  width: 200px;
  color: #fef9ef;
  background-color: #212529;
}

.active {
  color: #212529;
  font-size: 1.5em;
  -webkit-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
  opacity: 1;
}

.active--dark {
  color: #fef9ef;
  font-size: 1.5em;
  -webkit-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
  opacity: 1;
}

.blinking-cursor {
  -webkit-animation: 1s cubic-bezier(1, -0.15, 1, 1) infinite blinky;
          animation: 1s cubic-bezier(1, -0.15, 1, 1) infinite blinky;
}

@-webkit-keyframes blinky {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

@keyframes blinky {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

body {
  font-family: "PT Mono", monospace;
  margin: 0;
}

.App {
  background-color: #fef9ef;
  color: #212529;
}

.App--dark {
  background-color: #212529;
  color: #fef9ef;
}

.scroll-container {
  margin-top: 100px;
  margin-left: 200px;
}

button {
  outline: none;
  border: none;
  background-color: inherit;
  color: inherit;
}

.tomato {
  color: tomato;
}
/*# sourceMappingURL=App.css.map */